<div class="chat-info">
  <div class="chat-info__header">
    <a href="/chat/{{chat.id}}" class="chat-info__back">
      {{> back-icon}}
      <span>Назад</span>
    </a>
  </div>

  <div class="chat-info__profile">
    {{> avatar url=chat.avatarUrl name=chat.title size="xlarge"}}
    <h2 class="chat-info__title">{{chat.title}}</h2>
    {{#if chat.membersCount}}
      <p class="chat-info__status">{{chat.membersCount}} участников</p>
    {{else}}
      <p class="chat-info__status">{{chat.status}}</p>
    {{/if}}
  </div>

  <div class="chat-info__section">
    <h3 class="chat-info__section-title">Участники</h3>
    <div class="chat-info__members">
      {{#if chat.members}}
        {{#each chat.members}}
          <div class="chat-info__member">
            {{> avatar url=this.avatarUrl name=this.name size="medium"}}
            <span class="chat-info__member-name">{{this.name}}</span>
          </div>
        {{/each}}
      {{else}}
        <div class="chat-info__member">
          {{> avatar url=chat.avatarUrl name=chat.title size="medium"}}
          <span class="chat-info__member-name">{{chat.title}}</span>
        </div>
      {{/if}}
    </div>
  </div>
</div>
